/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: :border-box;
    padding:0;
    margin:0;
    max-width:100%;
}

header{
    text-align: center;
}

h1{
    font-size: 500%;
}

.topNav{
    padding-top: 2%;
}

.topNav a{
    text-decoration: none;
    border: 2px solid black;
    padding:0 2%;
    margin-top:2%;
}

#top{
    text-align: center;
}

h2{
    font-size: 400%;
    margin-top: 2%;
}
.intro p{
    margin-top: 2%;
    font-size: 200%;
}

#largeImage{
    display:flex;
    justify-content:center;
    margin-top: 2%;
}
img{
    width: 300px;
    height: 300px;
}

#projects{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

footer{
    text-align: center;
    background-color: blue;
    
}

.bottomNav,.nav a{ 
    margin-top: 5%;

   
}

nav a , .imageLinks{
    height: auto; 
    width: auto; 
}
